@page "/directors/add"
@using CinemaApplication.Blazor.Shared
@using CinemaApplication.Blazor.Services;
@using CinemaApplication.Contract;
@inject IDirectorService DirectorService;
@inject NavigationManager NavigationManager

<h3>Add Director</h3>
<DirectorForm Director="@Director" ButtonTitle="Add" HandleValidSubmitAsync="@HandleAddAsync" />

@code {
    private Director? Director { get; set; } = new Director();

    private async Task HandleAddAsync()
    {
        await DirectorService.AddDirectorAsync(Director!);
        NavigationManager.NavigateTo("/directors");
    }
}
