@page "/movies/add"
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]
@using CinemaApplication.Client.Shared
@using CinemaApplication.Client.Services;
@using CinemaApplication.Shared;
@inject IMovieService MovieService;
@inject IDirectorService DirectorService;
@inject NavigationManager NavigationManager

@if (Movie is null || Directors is null)
{
    <p>Loading...</p>
}
else if (Directors?.Count() == 0)
{
    <p>You can't create Movie because there is no any Director in the database</p>
}
else
{
    <h3>Add Movie</h3>
    <MovieForm Movie="@Movie" ButtonTitle="Add" HandleValidSubmitAsync="@HandleAddAsync" Directors="Directors" />
}

@code {
    private Movie? Movie { get; set; } = new Movie();

    private IEnumerable<Director> Directors { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Directors = await DirectorService.GetAllDirectorAsync();
    }

    private async Task HandleAddAsync()
    {
        Movie.DirectorId = Directors.FirstOrDefault(x => x.Name == Movie.DirectorName).DirectorId;
        await MovieService.AddMovieAsync(Movie!);
        NavigationManager.NavigateTo("/movies");
    }
}
